@import "tailwindcss";

:root {
  --background: #ffffff;
}
:root {
  --color-background: var(--background);
  --font-lato: var(--font-courierPrime);
  --font-unbounded: var(--font-fredoka);
  --font-sora: var(--font-sora);
}

.font-fredoka {
  font-family: var(--font-fredoka);
}
.font-courierPrime {
  font-family: var(--font-courierPrime);
}
.font-sora {
  font-family: var(--font-sora);
}
.PhoneInputCountryIcon--border {
  border: none;
}
.PhoneInputInput {
  height: 35px;
  padding: 16px;
  outline: none;
}
.PhoneInputCountryIcon {
  height: 35px;
}
.PhoneInputCountrySelectArrow {
  display: none;
}
